.pageContainer {
  padding: 40px;
  max-width: 400px;
  margin: 0 auto;
}

.pageTitle {
  margin-bottom: 20px;
  color: var(--text-primary);
}

@media (prefers-color-scheme: dark) {
  .pageTitle {
    color: var(--text-primary-dark);
  }
} 